body {
    padding-top: 56px;
  }
  
  @media (min-width: 768px) {
    body {
      padding-top: 0;
    }
  }
  
  
  #product-list .card {
    margin-bottom: 20px;
  }
  
  .slogan {
    position: relative;
    color: #333; 
    font-size: 1.5em; 
    font-weight: bold; 
    margin-bottom: 20px; 
  }
  
  .right-image {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
  }
  .category-image {
    height: 200px; 
  }
  
